<%= form_with(model: origen, local: true) do |form| %>
  <% if origen.errors.any? %>
    <div id="error_explanation">
      <h2><%= pluralize(origen.errors.count, "error") %> prohibited this origen from being saved:</h2>

      <ul>
      <% origen.errors.full_messages.each do |message| %>
        <li><%= message %></li>
      <% end %>
      </ul>
    </div>
  <% end %>

  <div class="field">
    <%= form.label :etnia %>
    <%= form.text_field :etnia, id: :origen_etnia %>
  </div>

  <div class="actions">
    <%= form.submit %>
  </div>
<% end %>
