<p id="notice"><%= notice %></p>
<div class="row">
<div class="col-sm-4">
  <h2>Historial</h2>
<% @diagnostico.ficha_docs.each do |f| %>
  <p>
    <strong>Motivo de la consulta:</strong>
    <%= f.motivoConsul %>
  </p>
<% end %>
</div>
<div class="col-sm-8">
    <div class="row">
       <div class="col-sm-6">
        <strong>Fecha:</strong>
        <%= @diagnostico.fecha %>
       </div>
       <div class="col-sm-6">
        <strong>Axila Rectal:</strong>
         <%= @diagnostico.axilaRectal %>
       </div>
       <div class="col-sm-6">
        <strong>Presion Arterial:</strong>
        <%= @diagnostico.presionArterial %>
       </div>
       <div class="col-sm-6">
        <strong>Frecuencia Cardiaca:</strong>
        <%= @diagnostico.freCardiaca %>
       </div>
      
       <div class="col-sm-6">
        <strong>Nombre:</strong>
        <%= @diagnostico.ficha_medica.nombre %>
        <%= @diagnostico.ficha_medica.apellido %>
       </div>
    </div><BR>
<%= nested_form_for @diagnostico do |d|%>
  <%= d.fields_for :ficha_docs do |ficha|%>
                  <div class="row">
                    <div class="col-sm-6">
                      <%= ficha.label :motivoConsul, 'Motivo de la Consulta' %>
                      <%= ficha.text_area :motivoConsul, id: :ficha_doc_motivoConsulc, class: "form-control" %>
                    </div>

                    <div class="col-sm-6">
                      <%= ficha.label :examenFisico, 'Examen Fisico' %>
                      <%= ficha.text_area :examenFisico, id: :ficha_doc_examenFisico, class: "form-control" %>
                    </div>

                    <div class="col-sm-6">
                      <%= ficha.label :otroDiagnos, 'Otros Diagnosticos' %>
                      <%= ficha.text_area :otroDiagnos, id: :ficha_doc_otroDiagnos, class: "form-control" %>
                    </div>

                    <div class="col-sm-6">
                      <%= ficha.label :tratamiento, 'Tratamiento' %>
                      <%= ficha.text_area :tratamiento, id: :ficha_doc_tratamiento, class: "form-control" %><BR>
                    </div>
                  </div>
  <p class="btn-group-sm"><%= d.link_to_add "Agregar",:stock_medicas, class: "glyphicon glyphicon-plus btn-sm-success",:data => { :target => "#stock_medica" } %></p>
               </BR>
                  <table id="stock_medica" class="table">
                    <thead>
                      <tr>
                        <th>Medicamentos</th>
                        <th>Cantidad</th>
                        <th></th>
                      </tr>
                    </thead>
                          <%= d.fields_for :stock_medicas , :wrapper => false do |stock| %>
                            <tr class="fields">
                              <td><%= stock.collection_select(:medicamento_id, @medicamentos, :id, :nombreMedi, {include_blank: 'Nombre del Medicamento' }, {:class=>'form-control'}) %></td>
                              <td><%= stock.text_field :cantidad, class: "form-control" %></td>
                              <td><%= stock.link_to_remove "", class: "glyphicon glyphicon-minus-sign btn-danger" %></td>
                            </tr>
                          <% end %>
                  </table>         
              <%end%>            
           <%= d.submit 'Guardar' , class: "btn btn-success"%>
           <%= link_to 'Atras', diagnosticos_path, class: "btn btn-info" %>  
<% end %>
</div>
        