<!DOCTYPE html>
<p id="notice"><%= notice %></p>

<h1>Stock de Medicamentos</h1>
<table class="table table-hover">
  <thead>
    <tr>
      <th>Medicamento</th>
      <th>Cantidad</th>
      <th colspan="3"></th>
    </tr>
  </thead>

  <tbody>
    <% @ficha_doc.stock_medicas.each do |stock_medica| %>
      <tr>
        <td><%= stock_medica.medicamento.nombreMedi %></td>
        <td><span class= "badge-success"><%= stock_medica.cantidad %></span></td>
        <td><%= link_to 'Ver', stock_medica %></td>
        <td><%= link_to 'Editar', edit_stock_medica_path(stock_medica) %></td>
        <td><%= link_to 'Borrar', stock_medica, method: :delete, data: { confirm: 'Are you sure?' } %></td>
      </tr>
    <% end %>
  </tbody>
</table>

<br>
