<p id="notice"><%= notice %></p>

<p>
  <strong>Nombre del Medicamento:</strong>
  <%= @proveedor.medicamento.nombreMedi %>
</p>
<p>
  <strong>Cantidad:</strong>
  <%= @proveedor.cantidad %>
</p>

<%= link_to 'Editar', edit_proveedor_path(@proveedor) ,class: "btn btn-warning btn-xs"%> |
<%= link_to 'Atras', proveedors_path,class: "btn btn-primary btn-xs" %>
