<p id="notice"><%= notice %></p>
<center><h2>Receta Medica</h2></center>
<div class="row">
  <div class="col-sm-6">
    <strong>Fecha:</strong>
    <%= @ficha_doc.diagnostico.fecha %>
  </div>

  <div class="col-sm-6">
    <strong>Nombre del Paciente:</strong>
    <%= @ficha_doc.diagnostico.ficha_medica.nombre %>
    <%= @ficha_doc.diagnostico.ficha_medica.apellido %>
  </div>

</div><br>

<div class="row">
<%= form_for([@ficha_doc, @ficha_doc.stock_medicas.build]) do |f| %>
<div class="col-sm-6"><label>Medicamento</label></div><div class="col-sm-6"><label>Cantidad</label></div>
      <div class="multi-field-wrapper">
        <div class="multi-fields">
          <div class="multi-field">
            <br>
            <div class="col-sm-6">
              <%= f.collection_select(:medicamento_id, @medicamentos, :id, :nombreMedi, {include_blank: 'Nombre del Medicamento' }, {:class=>'form-control'}) %>
            </div>
            <div class="col-sm-4">
             
              <%= f.number_field :cantidad, id: :stock_medica_cantidad, class: "form-control" %>
            </div>    
            <button type="button" class="remove-field btn-danger  btn-sm" style='width:40px; height:33px'>x</button><br>
          </div>
        </div>
        <button type="button" class="add-field btn-primary  btn-sm" style='width:40px; height:33px'>+</button>
    </div>
</div>
<%= f.submit 'Guardar' , class: "btn btn-success"%>
<%end%>
</div>
</div>

<script type="text/javascript">
  $('.multi-field-wrapper').each(function() {
    var $wrapper = $('.multi-fields', this);
    $(".add-field", $(this)).click(function(e) {
        $('.multi-field:first-child', $wrapper).clone(true).appendTo($wrapper).find('input').val('').focus();
    });
    $('.multi-field .remove-field', $wrapper).click(function() {
        if ($('.multi-field', $wrapper).length > 1)
            $(this).parent('.multi-field').remove();
    });
});
</script>

