<p id="notice"><%= notice %></p>

<%if @ficha_doc.diagnostico.present?%>
<p><strong>Nombre:</strong>
  <%= @ficha_doc.diagnostico.ficha_medica.nombre %> <%= @ficha_doc.diagnostico.ficha_medica.apellido %>
</p>
<div class="row">
<div class="col-sm-6">
        <strong>Frecuencia Cardiaca:</strong>
        <%= @ficha_doc.diagnostico.freCardiaca %> 
      </div>
</div>
<%end%>

<p>
  <strong>Motivoconsul:</strong>
  <%= @ficha_doc.motivoConsul %>
</p>

<p>
  <strong>Examenfisico:</strong>
  <%= @ficha_doc.examenFisico %>
</p>

<p>
  <strong>Otrodiagnos:</strong>
  <%= @ficha_doc.otroDiagnos %>
</p>

<p>
  <strong>Tratamiento:</strong>
  <%= @ficha_doc.tratamiento %>
</p>
<%if @ficha_doc.stock.present?%>
<p>
  <strong>Medicamento:</strong>
  <%= @ficha_doc.stock.medicamento.nombreMedi %>
</p>
<% end -%>

      
    


<%= link_to 'Edit', edit_ficha_doc_path(@ficha_doc) %> |
<%= link_to 'Back', ficha_docs_path %>
