<p id="notice"><%= notice %></p>
<center><h2>Receta Medica</h2></center>
<div class="row">
  <div class="col-sm-6">
    <strong>Fecha:</strong>
    <%= @ficha_doc.diagnostico.fecha %>
  </div>

  <div class="col-sm-6">
    <strong>Nombre del Paciente:</strong>
    <%= @ficha_doc.diagnostico.ficha_medica.nombre %>
    <%= @ficha_doc.diagnostico.ficha_medica.apellido %>
  </div>

</div><br>

<div class="row">
       <table id="" class="table">
            <thead>
             <tr>
                <th>Nombre del medicamento</th>
                <th>Cantidad</th>
                <th></th>
              </tr>
            </thead>
            <tbody>
              <% @stock_medicas.each do |p| %>
               <tr class="fields">
                <td><%= p.medicamento.nombreMedi %></td>
                <td><%= p.stock_medica.cantidad%></td>
               </tr>
              <% end %>
            </tbody>
        </table>
</div>

