<p id="notice"><%= notice %></p>

<p>
  <strong>Nombre:</strong>
  <%= @medicamento.nombreMedi %>
</p>

<p>
  <strong>Descripcion:</strong>
  <%= @medicamento.descripcion %>
</p>

<p>
  <strong>Cantidad:</strong>
  <%= @medicamento.cantidad %>
</p>

<%= link_to 'Edit', edit_medicamento_path(@medicamento) %> |
<%= link_to 'Back', medicamentos_path %>
